@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-primary-text bg-primary-bg; 
  }
}

.sidebar {
  @apply text-[var(--sidebar-text-primary)];
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.direction-rtl{
  direction: rtl;
}
:root {
  --btn-primary: #1B84FF;
  --btn-hover: #3d96ff;
  --color-primary: #407fd5;
  --bg-primary: #fff;
  --sidebar-text-primary: #000;
  --sidebar-toggler: #fff;
  --text-primary: #838383;
  --text-secondary: #fff;
  --text-link: #407fd5;
  --border-color: #e5e7eb;
}

.dark {
  --color-primary: #1e3a8a;
  --bg-primary: #000;
  --sidebar-text-primary: #fff;
  --sidebar-toggler: #26272f;
  --text-primary: #fff;
  --text-link: #fff;
  --border-color: #e5e7eb2b;
}

/* Hide scrollbar for Webkit-based browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Edge/IE */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
}