@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-primary-text bg-primary-bg; 
  }
}

.sidebar {
  @apply text-[var(--sidebar-text-primary)];
  @apply bg-sidebar-bg
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.direction-rtl{
  direction: rtl;
}
.bg-pagination-500-important {
  background-color: #e5e7eb60 !important;
}
.bg-pagination-500-dark-important {
  background-color: #cbcccf4f !important;
}
:root {
  --btn-primary: #1B84FF;
  --btn-hover: #3d96ff;
  --color-primary: #407fd5;
  --bg-primary: #fff;
  --sidebar-text-primary: #000;
  --sidebar-toggler: #fff;
  --even-row-bg:#f3f4f69b;
  --text-primary: #838383;
  --sidebar-bg: #fff;
  --text-secondary: #fff;
  --text-link: #407fd5;
  --bg-table-container: #fff;
  --border-color: #e5e7eb;
}

.dark {
  --color-primary: #1e3a8a;
  --bg-primary: #0d0e11;
  --sidebar-text-primary: #ffffff76;
  --sidebar-toggler: #26272f;
  --sidebar-bg: #0D0E12;
  --text-primary: #ffffff76;
  --even-row-bg:#0d0e125b;
  --btn-hover: #0c2e54ad;
  --btn-primary: #0c2e54;
  --bg-searchbox: #2A2A3C;
  --bg-table-container: #15171c;
  --text-link: #fff;
  --border-color: #e5e7eb2b;
  border: transparent;
}

/* Hide scrollbar for Webkit-based browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Edge/IE */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
}