@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-primary-text bg-primary-bg; 
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.direction-rtl{
  direction: rtl;
}
:root {
  --btn-primary: #1B84FF;
  --btn-hover: #3d96ff;
  --color-primary: #407fd5;
  --bg-primary: #fff;
  --text-primary: #838383;
  --text-secondary: #fff;
  --text-link: #407fd5;
}

.dark {
  --color-primary: #1e3a8a;
  --bg-primary: #000;
  --text-primary: #fff;
  --text-link: #fff;
}
.date-slider {
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
}

.date-slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
